<div class="calendar-container">

  <app-calendar-header [year]="plan.year"></app-calendar-header>

  <table class="calendar-table">

    <thead>
    <tr>
      <th class="month-name" scope="col">&nbsp;</th>
      @for (day of weekdaySpots; track $index) {
        <th class="day day-name" scope="col">{{ weekdayNames[$index % 7] }}</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (month of months; track month) {
        <tr>
          <th class="month-name" scope="row">{{ month.name }}</th>
          @for (day of month.days; track day) {
            <td class="day"
                [class.has-event]="day.hasEvent"
                [class.is-holiday]="day.hasHoliday"
                [class.is-weekend]="day.date && isWeekend($index)">
              @if (day.date) {
                <span class="day-number">{{ day.date }}</span>
              }
              @if (day.hasEvent || day.hasHoliday) {
                <ul class="day-events">
                  @for (event of day.events; track event) {
                    <li>{{ event }}</li>
                  }
                </ul>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>

  @if (hasEvents) {
    <div class="calendar-events">
      <app-events-list [events]="plan.events"></app-events-list>
      <app-public-holiday-list [events]="holidays[plan.year]"></app-public-holiday-list>
    </div>
  }

  <app-calendar-footer></app-calendar-footer>

</div>
