:host {
  display: block;
  overflow: auto;
  height: 50vh;
}

.calendar-container {
  line-height: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* A1 sheet. */
  height: 594mm;
  width: 841mm;
}

.calendar-table {
  border-collapse: collapse;
  margin-bottom: auto;
  table-layout: fixed;
  width: 100%;
}

.month-name {
  padding-right: 1em;
  text-align: left;
  width: 8em;
}

.day {
  width: 2cm;
  padding: 0.25em;
  vertical-align: top;
  text-align: left;
}

td.day {
  height: 3cm;
}

td.day:not(:empty) {
  border: 2px solid #111;
}

.day .day-number {
  font-weight: bold;
  font-size: 1em;
}

/* Highlighting. */
.day.is-weekend {
  background: #DDD;
}

.day.has-event {
  background-color: #07c1ff;
  color: white;
  font-weight: bold;
}

.day-events {
  font-size: 0.8em;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 0;
}


.calendar-events {
  margin: 1.5rem 0;
}
